# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/
.env

# Jupyter / IPython
.ipynb_checkpoints/

# Model files
*.pkl
*.joblib

# Logs
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
